h1 {
    text-align: center;
}

.options-container {
    display: flex;
    justify-content: space-evenly;
}

.option {
    margin: 20px;
    text-align: center;
    cursor: pointer;
}

.form {
    display: flex !important;
    flex-direction: column;
}

.field {
    width: 100%;
}

.actions {
    display: flex;
    justify-content: space-between;
}
