.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.side {
    width: 20%;
    height: 90%;
    overflow-y: auto;
    padding: 20px;
    margin: 0 5px;
    background-color: #076b5f;
}

.middle {
    width: 60%;
    height: 90%;
    overflow-y: auto;
}

.title {
    text-transform: uppercase;
    font-size: 20px;
    color: #7A7A7A;
    font-weight: 200;
    font-style: italic;
}
