.icon {
  float: right;
}

.handle-icon {
  color: #ccc;
  cursor: move;
  width: 24px;
  height: 24px;
}

.delete-icon {
  color: #ff0000;
  cursor: grab;
}

.visible-icon {
  color: #767978;
}

.selected {
  padding: 5px;
  border-radius: 5px;
  background: #dde4e1;
}

.form {
  padding: 5px;
  min-height: 500px;
  -webkit-box-shadow: -1px -11px 25px 1px rgba(83,84,83,0.77);
  -moz-box-shadow: -1px -11px 25px 1px rgba(83,84,83,0.77);
  box-shadow: -1px -11px 25px 1px rgba(83,84,83,0.77);
}

.form > *{
  padding: 5px;
  min-height: 50px;
}