<div class="attributes" *ngIf="(field | json) != '{}'">
  <mat-slide-toggle *ngIf="field.hasOwnProperty('visible')" [(ngModel)]="field.visible">visibility</mat-slide-toggle>

  <mat-form-field appearance="fill" *ngIf="field.hasOwnProperty('id')" [color]="'accent'">
    <mat-label>ID</mat-label>
    <input matInput [(ngModel)]="field.id">
    <mat-error>must have</mat-error>
  </mat-form-field>
  
  <mat-form-field appearance="fill" *ngIf="field.hasOwnProperty('name')" [color]="'accent'">
    <mat-label>Name</mat-label>
    <input [(ngModel)]="field.name" matInput>
  </mat-form-field>

  <mat-form-field appearance="fill" *ngIf="field.hasOwnProperty('text')" [color]="'accent'">
    <mat-label>Text/Placeholder</mat-label>
    <input [(ngModel)]="field.text" matInput>
  </mat-form-field>

  <mat-form-field appearance="fill" *ngIf="field.hasOwnProperty('dataConcept')" [color]="'accent'">
    <mat-label>Data Concept</mat-label>
    <input [(ngModel)]="field.dataConcept" matInput [matAutocomplete]="dataConceptAuto">
  </mat-form-field>
  <mat-autocomplete #dataConceptAuto="matAutocomplete">
    <mat-option *ngFor="let dataConcept of dataConcepts" [value]="dataConcept">{{dataConcept}}</mat-option>
  </mat-autocomplete>

  <mat-form-field appearance="fill" *ngIf="field.hasOwnProperty('fieldLbl')" [color]="'accent'">
    <mat-label>Field Label</mat-label>
    <input [(ngModel)]="field.fieldLbl" matInput>
  </mat-form-field>
  
  <mat-form-field appearance="fill" *ngIf="field.hasOwnProperty('defaultTxt')" [color]="'accent'">
    <mat-label>Default Value</mat-label>
    <input [(ngModel)]="field.defaultTxt" matInput>
  </mat-form-field>
  
  <mat-form-field appearance="fill" *ngIf="field.hasOwnProperty('type')" [color]="'accent'">
    <mat-label>Type</mat-label>
    <input [(ngModel)]="field.type" matInput>
  </mat-form-field>
  
  <mat-form-field appearance="fill" *ngIf="field.hasOwnProperty('customCssClass')" [color]="'accent'">
    <mat-label>Custom CSS Class</mat-label>
    <input [(ngModel)]="field.customCssClass" matInput>
    <mat-hint>Seperate between classes by a Coma ','</mat-hint>
  </mat-form-field>

  <mat-checkbox *ngIf="field.hasOwnProperty('readonly')" [(ngModel)]="field.readonly">Readonly</mat-checkbox>
  <mat-checkbox *ngIf="field.hasOwnProperty('required')" [(ngModel)]="field.required">Required</mat-checkbox>
  <mat-checkbox *ngIf="field.hasOwnProperty('repeat')" [(ngModel)]="field.repeat">Repeat</mat-checkbox>

  <mat-form-field appearance="fill" *ngIf="field.hasOwnProperty('errorMsg')" [color]="'accent'">
    <mat-label>Enter Error Message...</mat-label>
    <textarea matInput [(ngModel)]="field.errorMsg"></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill" *ngIf="field.hasOwnProperty('description')" [color]="'accent'">
    <mat-label>Enter Description...</mat-label>
    <textarea matInput [(ngModel)]="field.description"></textarea>
  </mat-form-field>

  <div *ngIf="field.hasOwnProperty('options')&& field.type === 'select'">
    <div class="options-header">
      <span>Options</span>
      <button mat-mini-fab class="add-options" (click)="addOption()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="options">
      <app-option *ngFor="let option of field.options" [option]="option"></app-option>
    </div>
  </div>

</div>
